spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/smart_home?currentSchema=cart
    username: smart_home
    password: smart_home
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_schema: cart
        format_sql: true
    show-sql: true
  sql:
    init:
      mode: always

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    ru.yandex.practicum: INFO
